* {
    margin: 10;
    padding: 0;
    font-family: sans-serif;
}
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color: white;
    color:#fff;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {

    margin-left:5%;
    width: 120px;
    height: 120px;
    cursor: pointer;

}


.navbar ul li {
    
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #160707b6;
    text-transform: uppercase;
    font-size: 20px;

}

.navbar ul li::after 
        {
        content: '';
        height: 3px;
        width: 0;
        background: #009688;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    }

    .navbar ul li:hover::after {
        width: 100%;
    }
 .carousel-inner{
    width: 100%;
    height: 500px;
 }
    .content {
        width: 100%;
        position: absolute;
        text-align: center;
        color: #fff;
    }

    .content h1 {
        font-size: 70px;
        margin-top: 80px;
    }

    .footer {
        background: #2a625bd2;
    }
    .navbar ul li a Button{
        color: black;
    }
    
    /* .search-box input{
        width:70%;
        height: 40px;
        border:none;
        outline:none;
        border-radius: 50px;
        font-size: 20px;
        text-align: center;
        padding-left: 8px;
        padding-right: 30px;
        background:black;
        color: #f2f2f2;
        border: 3px;
        max-height: 280px;
    
    }
    .search-box button{
        cursor: pointer;
        width:52px;
        height: 44px;
        border-radius: 9px;
        border:none;
        top:0;
        right:0;
        transform: scale(0.9);
        background:black;
    } */
   